# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
venv/
env/
*.egg-info/
dist/
build/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo